<ion-toolbar class="toolbar">
  <ion-grid>
    <ion-row>
      <ion-col size="{{ _noColumns }}">
        <ion-item lines="none" class="ion-no-padding">
          <div class="filter">
            <ion-label class="filter__label">Kategoria:</ion-label>
            <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="categoryFilter">
              <ion-select-option value="" selected>Wszystkie</ion-select-option>
              <ion-select-option *ngFor="let category of categories" value="{{ category }}">{{ category }}</ion-select-option>
            </ion-select>
            <div class="filter__dots">
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
            </div>
          </div>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="enableVoivodeship" size="{{ _noColumns }}">
        <ion-item lines="none" class="ion-no-padding">
          <div class="filter">
            <ion-label class="filter__label">Województwo:</ion-label>
            <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="voivodeshipFilter">
              <ion-select-option value="" selected>Wszystkie</ion-select-option>
              <ion-select-option *ngFor="let voivodeship of voivodeships" value="{{ voivodeship }}">{{ voivodeship }}</ion-select-option>
            </ion-select>
            <div class="filter__dots">
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
            </div>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size="{{ _noColumns }}">
        <ion-item lines="none" class="ion-no-padding">
          <div class="filter">
            <ion-label class="filter__label">Miasto:</ion-label>
            <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="locationFilter">
              <ion-select-option value="" selected>Wszystkie</ion-select-option>
              <ion-select-option *ngFor="let location of locations" value="{{ location }}">{{ location }}</ion-select-option>
            </ion-select>
            <div class="filter__dots">
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
            </div>
          </div>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="inRange" size="{{ _noColumns }}">
        <ion-item lines="none" class="ion-no-padding">
          <div class="filter">
            <ion-label class="filter__label">W pobliżu:</ion-label>
            <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="rangeFilter">
              <ion-select-option value="" selected>Wszystkie</ion-select-option>
              <ion-select-option value=50>50 km</ion-select-option>
              <ion-select-option value=100>100 km</ion-select-option>
            </ion-select>
            <div class="filter__dots">
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
            </div>
          </div>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="enableDate" size="{{ _noColumns }}">
        <ion-item lines="none" class="ion-no-padding">
          <div class="filter">
            <ion-label class="filter__label">Data:</ion-label>
            <ion-select class="filter__option" ok-text="Potwierdź" cancel-text="Anuluj" [formControl]="dateFilter">
              <ion-select-option value="">{{ currentYear }}</ion-select-option>
              <ion-select-option *ngFor="let date of dates" value="{{ date }}">{{ date }}</ion-select-option>
            </ion-select>
            <div class="filter__dots">
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
              <span class="filter__dot"></span>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <!--<ion-row>
      <ion-col>
        <ion-searchbar class="searchbar" placeholder="Szukaj..." debounce="200" [formControl]="searchField"></ion-searchbar>
      </ion-col>
    </ion-row>-->

  </ion-grid>
</ion-toolbar>
