<ion-header [translucent]="true">
  <ion-title class="header__title">
    <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
  </ion-title>
  <app-filters [events]="favouritesService.favouritesEvents" (eventsFiltered)="eventsFiltered($event)" [fav]="true"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scroll">
    <app-event-list-card *ngFor="let event of filteredEvents; trackBy: trackByFn" [event]="event"></app-event-list-card>
  </div>
</ion-content>
