<ion-header [translucent]="true">
  <ion-title class="header__title">
    <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
    <img *ngIf="!networkStatus" src="/assets/offline.png" class="header__offline">
  </ion-title>
</ion-header>

<ion-content>
  <agm-map class="map" [latitude]=lat [longitude]=long [zoom]=_zoom [disableDefaultUI]="false">
    <agm-marker *ngFor="let event of events"
                [openInfoWindow]=true
                [markerClickable]=true
                [latitude]=event.lat
                [longitude]=event.long
                [visible]="event.cancelled == 0">

      <agm-info-window>
        <div class="map__info map__info--bold">{{ event.name }}</div>
        <div class="map__info" *ngIf="event.date_end <= event.date_begin">{{ event.date_begin | date: "dd.MM.y" }}</div>
        <div class="map__info" *ngIf="event.date_end > event.date_begin">{{ event.date_begin | date: "dd.MM" }} – {{ event.date_end | date: "dd.MM.y" }}</div>
        <div class="map__info map__info--url" [routerLink]="'/event-details/' + event.id">Przejdź do wydarzenia</div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
