<ion-header [translucent]="true">
  <ion-title class="header__title">
    <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
    <img *ngIf="!_networkStatus" src="/assets/offline.png" class="header__offline">
  </ion-title>
  <app-filters [events]="_events" (eventsFiltered)="filteredEvents = $event" [enableVoivodeship]="true" [enableInRange]="true" [fav]="false"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll class="scroll" [items]="_filteredEvents" approxItemHeight="126px">
    <app-event-list-card *virtualItem="let event" [event]="event" [networkStatus]="_networkStatus" style="opacity:1"></app-event-list-card>
  </ion-virtual-scroll>
</ion-content>
