<ion-header [translucent]="true">
  <ion-title class="header__title">
    <img src="assets/logo.png" alt="Konwenty Południowe" class="header__logo">
  </ion-title>
  <app-filters [events]="events" (eventsFiltered)="eventsFiltered($event)" [inRange]="true"></app-filters>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="scroll">
    <app-event-list-card *ngFor="let event of filteredEvents; trackBy: trackByFn" [event]="event"></app-event-list-card>
  </div>
</ion-content>
